@import "tailwindcss";
@plugin 'daisyui' {
  themes: none;
}

table {
  box-shadow: 0px 5px 16px 0px #ddd;
  border-radius: 10px;
}
th,
tr {
  border-bottom: 1px solid #ddd;
}

.input-field {
  @apply border border-gray-400 rounded;
}

a.active {
  color: brown;
}
fieldset {
  border: 1px solid #ddd;
  border-radius: 10px;
}
